altgraph==0.17.2
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
auto-py-to-exe==2.15.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.4
distlib==0.3.1
docutils==0.16
Eel==0.12.4
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
gprof2dot==2021.2.21
greenlet==1.1.2
gym==0.18.0
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.1.1
Kivy==1.11.1
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
npm==0.1.1
numpy==1.19.5
openpyxl==3.0.9
optional-django==0.1.0
packaging==21.3
pandas==1.2.0
pefile==2021.9.3
Pillow==7.2.0
pluggy==1.0.0
py==1.11.0
pycallgraph==1.0.1
pycparser==2.21
pyglet==1.5.0
Pygments==2.6.1
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pyparsing==3.0.6
pypiwin32==223
PyQt5==5.12
PyQt5-Qt5==5.15.2
PyQt5_sip==4.19.19
pytest==6.2.5
python-dateutil==2.8.1
pytz==2020.5
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
scipy==1.6.2
six==1.15.0
toml==0.10.2
urllib3==1.25.10
virtualenv==20.0.31
whichcraft==0.6.1
xlrd==2.0.1
XlsxWriter==3.0.2
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.4.0
